{% if pagination.pages > 1 %}
    <nav role="navigation" class="pagination-container">
        {% if pagination.previous %}
            <a href="{{ pagination.previous.url }}" class="pagination-button">Previous</a>
        {% endif %}

        {% if pagination.next %}
            <a href="{{ pagination.next.url }}" class="pagination-button">Next</a>
        {% endif %}
    </nav>
{% endif %}

<style>
    .pagination-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 32px auto;
    }

    .pagination-button{
        border-radius: 5px;
        border: solid 3px gray;
        color: black;
        font-size: medium;
        padding: 1% 4%;
    }

    .pagination-button:hover{
        color: aliceblue;
        background-color: grey;
    }

</style>