<div class="form-container">
    {% if condition %}
        
    {% endif %}
    {% form 'inquiry' %}
        <label for="inquiry-name">Name</label>
        <input type="text" name="inquiry[name]" id="inquiry_name">

        <label for="inquiry_">Email</label>
        <input type="email" name="inquiry[email]" id="inquiry_email" >

        <label for="inquiry_body"></label>
        <textarea name="inquiry[body]" id="inquiry_body"></textarea>

        <button type="submit" value="submi message">submit</button>
    {% endform %}
</div>

{% schema %}
{
    "name": "portfolio ",
    "settings": [
        
    ]
}
{% endschema %}