<div class="portfolio-container">
    <div class="slide-deck"></div>
    <div class="portfolio-options"></div>
</div>

<style>
    .portfolio-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3%;
        padding: 3%;
    }

    .slide-deck{
        
    }

    .portfolio-options{
        padding: 3%;
    }
</style>