{% assign blogNames = section.settings.blogList | split: "," %}
<div class="all-blogs">
  <div class="blog-section">
    {% for blogName in blogNames %}
      {% assign currentBlog = blogs[blogName] %}
      {% if currentBlog %}
        {% for article in currentBlog.articles %}
          {% render 'blog-topics', blogArticle: article %}
        {% endfor %}
      {% else %}
        <p>No articles found in this blog.</p>
      {% endif %}
    {% endfor %}

  </div>
  {% comment %} {% render 'blog-content' %} {% endcomment %}

  <!-- Add more sections for other blogs -->
</div>

<style>
    .all-blogs {
  display: flex;
  flex-direction: column;
}

.blog-section{
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
}


</style>

{% schema %}
{
  "name": "Blog post",
  "settings": [
    {
        "type": "text",
        "id": "blogList",
        "label": "blog list",
        "default": "news,content"
      }
    ],
    "presets": [
        {
            "name": "Blog collection"
        }
    ]
}
{% endschema %}